@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0A0B1A;
  color: #FFFFFF;
}

.marquee-mask {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}